
<h1>
<%= @new_feed.title %>
</h1>
<%= link_to 'Arrow feed', home_index_url %>
<%= link_to 'Click to see arrow feed', @new_feed.url %>


<p> Here are the entries</p>

<% @entries.each do |entry| %>
	Episode name: 
	<%=entry.title%>
	<br>
	Episode link:
	<%= link_to 'download link', entry.url %> 
	<br>
	Published at:
	<%= entry.published %>
	<br>
	
	<br>
	<br>
	<br>
	<br>
<% end %>
