<div id="page">
	<div id="page-bgtop">
		<div id="page-bgbtm">
			<div id="content">
				<div class="post">
					<div class="entry">
						<%= form_tag("/home/user_feed", method: "get") do  %>
							<p>Select show: <%#= select_tag "shows", options_from_collection_for_select(@shows, "value","name") %>
							<%= select_tag "shows", options_from_collection_for_select(Show.all, "value","name"), {include_blank: false}%>
							<%#= select "shows", Show.all.collect {|p| [ p.name, p.value ] }, { include_blank: true }%>
							</p>
							
							<p>
								<%= submit_tag "select", class: "btn btn-primary"%>
							</p>
						<% end %>
					</div>

					<h2 class="title"><%= @new_feed.title %></h2>
					<p class="meta">Here are the entries</p>
					<% @entries.each do |entry| %>
						<div class="entry">
							<p>Episode name: <%=entry.title%></p>
							<p>Episode link: <%= link_to 'download link', entry.url %></p>
							<p>Published at: <%= entry.published %></p>
						</div>
					<% end %>

				</div>
				
			</div>
			
	    <%= render 'layouts/sidebar' %>

			<!-- end #content -->
<!-- 
<h1>
<%= @new_feed.title %>
</h1>
<%= link_to 'Gotham feed', home_gotham_url %>
<%= link_to 'Arrow feed', home_index_url %>
<%= link_to 'Game of thrones feed', home_got_url %>


<p> Here are the entries</p>

<% @entries.each do |entry| %>
	Episode name: 
	<%=entry.title%>
	<br>
	Episode link:
	<%= link_to 'download link', entry.url %> 
	<br>
	Published at:
	<%= entry.published %>
	<br>
	
	<br>
	<br>
	<br>
	<br>
<% end %>
 -->