<% if user_signed_in? %>

<div id="page">
	<div id="page-bgtop">
		<div id="page-bgbtm">
			<div id="content">
				<div class="post">
					
					<h2 class="title"><%= @new_feed.title %></h2>
					<!-- <p class="meta">Here are the entries</p> -->
					

					<div class="entry">
						<%= form_tag({controller: "home", action: "user_feed"}, method: "get", remote: true) do  %>
							<p>Select show: <%#= select_tag "shows", options_from_collection_for_select(@shows, "value","name") %>
							<%= select_tag "shows", options_from_collection_for_select(@shows, "value","name"), {include_blank: true}%>
							<%#= select "shows", Show.all.collect {|p| [ p.name, p.value ] }, { include_blank: true }%>
							</p>
							
							<p>
								<%= submit_tag "select", class: "btn btn-primary"%>
							</p>
						<% end %>
					</div>

					<% @entries.each do |entry| %>
						<div class="entry">
							<p>Episode name: <%=entry.title%></p>
							<p>Episode link: <%= link_to 'download link', entry.url %></p>
							<p>Published at: <%= entry.published %></p>
						</div>
					<% end %>

				</div>
				
			</div>
<% else %>
	<div id="page">
		<div id="page-bgtop">
			<div id="page-bgbtm">
				<div id="content">
					<h2 class="title">You need to sign in before continuing</h2>
				</div>
			</div>
		</div>
	</div>
<% end %>			

	    <%= render 'layouts/sidebar' %>