<div id="header">
	<div id="menu">
		<ul>
			<!-- <li class="active">
				<%= link_to 'Arrow feed', home_index_url %>
			</li>
			<li>
				<%= link_to 'Gotham feed', home_gotham_url %>
			</li>
			<li>
				<%= link_to 'Game Of Thrones Feed', home_got_url %>
			</li> -->
			<li><a href="#">Contact</a></li>
			<% if user_signed_in? %>
			<li>
				<% if current_user.provider.nil? %>
					<%= link_to 'Log out', destroy_user_session_url, method: :delete %>
				<% else %>
					<%= link_to 'Log out', destroy_user_session_url, method: :delete %>
				<%#= link_to 'Log out', destroy_user_session_url, method: :delete %>
					<%= link_to 'Log out(Facebook)', facebook_logout_url, method: :get %>
				<% end %>	
			</li>
			<% end %>
		</ul>
	</div>
	<!-- end #menu -->
	<div id="logo">
		<h1><a href="#">Feeds By Parth Modi</a></h1>
		
	</div>
	<hr />
</div>
<!-- end #header -->
<!-- end #header-wrapper -->
<!-- end #logo -->

